*{
  box-sizing: border-box;
}

// 4.1.2 - Header styling
header {
  width: 72%;
  margin: 0 auto;
  text-align: center;

  h1 {
    text-transform: uppercase;
    font-size: 2.8em;
  }

  h2 {
    // text-transform: uppercase;
  }

  p {
    font-size: 18px;
  }

  button {
    padding: 1em 2.6em;
    border-radius: 4%;
  }
}

// 3.11.1 to make it two player
main {
  display: flex;
}

div.player-one, div.player-tne {
  margin: 20px;
}

// 4.1.1 Added styling for starter positions in pure CSS (removed javascript for this)
.player-one .map div:nth-child(91), .player-two .map div:nth-child(100)  {
    background-color: red;
}

// 2.1.2 Basic styling for grid
.map {
  width: 500px;
  height: 500px;
}
.map div {
  border: 1px solid red;
  width: 50px;
  height: 50px;
  float: left;
}
// .map div.blank, #map div.blank  { background-color: white}
.map div.containsLetter {
  background-color: orange;
  text-align: center;
  font-size: 26px;
}

.map div.playerStartCell {
  background-color: red !important;
}

.map div.playerCurrentCell {
  background-color: blue !important;
}
