*{
  box-sizing: border-box;
}
#map {
  width: 500px;
  height: 500px;
}
#map div {
  border: 1px solid red;
  width: 50px;
  height: 50px;
  float: left;
}
#map div.blank { background-color: papayawhip}
#map div.containsLetter { background-color: chartreuse}

#map div.playerCellActive:hover {
  border: 2px solid green;
}
