*{
  box-sizing: border-box;
}

// 4.1.2 - Header styling
header {
  width: 72%;
  margin: 0 auto;
  text-align: center;

  h1 {
    text-transform: uppercase;
    font-size: 2.8em;
  }

  h2 {
    // text-transform: uppercase;
  }

  p {
    font-size: 18px;
  }

  button {
    padding: 1em 2.6em;
    border-radius: 4%;
    background-color: red;
  }

  img {
    display: block;
  }
}

// 4.1.5 - Footer styling

footer {
  background-color: grey;
  height: 3em;
  text-align: center;
  width: 100%;

  // bottom: 0;
  // position: absolute;
  // margin-top: 20px;

  p {
    font-size: 1em;
    line-height: 3em;
  }
}

// 4.1.6. Main game styling

// 3.11.1 to make it two player
main {

  h2 {
    text-align: center;
  }

  .player-grids {
    display: flex;
    width: 72%;
    margin: 0 auto;
  }

  div.player-one, div.player-two {
    margin: 20px;
  }

  // 4.1.1 Added styling for starter positions in pure CSS (removed javascript for this)
  .player-one .map div:nth-child(91), .player-two .map div:nth-child(100)  {
      background-color: rgba(255, 0, 0, .5);
  }

  // 2.1.2 Basic styling for grid
  .map {
    width: 450px;
    height: 450px;

    div {
      border: 1px solid rgba(255, 0, 0, .5);
      width: 45px;
      height: 45px;
      float: left;

      // .map div.blank, #map div.blank  { background-color: white}
      &.containsLetter {
        background-color: orange;
        text-align: center;
        font-size: 2em;
      }

      &.playerCurrentCell {
        border: 4px solid rgba(255, 0, 0, 1);
      }
    }
  }
}
