button {
  padding: 1em 2.6em;
  border-radius: 4%;
  background-color: $primary-color;
  color: $fourth-color;
  text-transform: uppercase;
  font-family: $secondary-font;
  letter-spacing: 2px;
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px 0;
}
