// 4.1.5 - Footer styling

footer {
  background-color: $secondary-color;
  height: 3em;
  text-align: center;
  width: 100%;
  margin-top: 20px;

  p {
    font-size: 1.1em;
    line-height: 3em;
    color: $fourth-color;
    font-family: $secondary-font;


    a {
      color: $third-color;
      text-decoration: none;
      // font-kerning: auto;
    }
  }
}
