$primary-color: rgba(226,78,66,1);
$secondary-color: rgba(0,143,149,1);
$third-color: rgba(233,176,0,1);
$fourth-color: rgba(255,255,255, .95);

$primary-font: 'Lato', sans-serif;
$secondary-font: 'PT Sans', sans-serif;
